<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <script type="text/javascript" src="@Url.Content("~/Temp/Client/Scripts/libs/jquery-1.9.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Temp/Client/Scripts/libs/angular.js")"></script>
    
    <script type="text/javascript" src="@Url.Content("~/Temp/Client/Scripts/libs/knockout-3.3.0.debug.js")"></script>
    
    <script type="text/javascript" src="@Url.Content("~/Temp/Client/Scripts/libs/JsInject.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Temp/Client/Scripts/libs/rx.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Temp/Client/Scripts/plugins/rx.jquery.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Temp/Client/Scripts/plugins/scroll-startstop.events.jquery.js")"></script>
    
    <script type="text/javascript" src="@Url.Content("~/Temp/Client/Scripts/jGroupdocs.StringExtensions.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Temp/Client/Scripts/jGroupdocs.WidgetFactory.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Temp/Client/Scripts/jGroupdocs.ViewerPortalService.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Temp/Client/Scripts/jGroupdocs.ViewerEventBus.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Temp/Client/Scripts/installableViewer.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Temp/Client/Scripts/jGroupdocs.InitJsInject.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Temp/Client/Scripts/jGroupdocs.MVVMProvider.Angular.js")"></script>
    @*<script type="text/javascript" src="@Url.Content("~/Temp/Client/Scripts/jGroupdocs.MVVMProvider.Knockout.js")"></script>*@

    <script type="text/javascript" src="@Url.Content("~/Temp/Client/Scripts/jGroupdocs.Navigation.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Temp/Client/Scripts/jGroupdocs.Thumbnails.js")"></script>

    <script type="text/javascript">
        if (window.angular) {
            var viewerModule = angular.module("groupdocsViewer", []);
            viewerModule.config(
                function ($compileProvider) {
                    window.groupdocs.bindingProvider.prototype.$compileProvider = $compileProvider;
                }
            );

            viewerModule.run(function ($rootScope, $compile) {
                window.groupdocs.bindingProvider.prototype.$rootScope = $rootScope;
                window.groupdocs.bindingProvider.prototype.$compile = $compile;
            });

        }

    </script>
    <script type="text/javascript" src="@Url.Content("~/Temp/Client/Scripts/jGroupdocs.Zooming.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Temp/Client/Scripts/jGroupdocs.Search.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Temp/Client/Scripts/jGroupdocs.Geometry.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Temp/Client/Scripts/jGroupdocs.PdfToJavaScriptWrapper.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Temp/Client/Scripts/jGroupdocs.Selectable.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Temp/Client/Scripts/jGroupdocs.DocViewer.js")"></script>

    <link rel="stylesheet" href="@Url.Content("~/Temp/Client/CSS/bootstrap.css")" type="text/css"/>
    <link rel="stylesheet" href="@Url.Content("~/Temp/Client/CSS/DocumentViewer.css")" type="text/css"/>
    <link rel="stylesheet" href="@Url.Content("~/Temp/Client/CSS/fixes.css")" type="text/css"/>
</head>

<body>
    @RenderBody()
</body>
</html>
